:host {
  --_health-bar-size: 1;
  --_health-bar-color: green;
  --_health-bar-width: min(300px, 95vw);
  --_health-bar-height: 0.66rem;
  --_health-bar-background: rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0.25rem;
}

.health-bar-container {
  width: var(--_health-bar-width);
  height: var(--_health-bar-height);
  background-color: var(--_health-bar-background);
  position: relative;
}

.health-bar {
  position: absolute;
  inset: 0;
  transform-origin: left;
  transform: scaleX(var(--_health-bar-size));
  transition: 0.15s transform ease-in-out;
  background-color: var(--_health-bar-color);
}

.sub-info {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  font-size: 0.9em;
}
