body {
  background: url('/assets/img//background.jpg') fixed no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#introduction {
  transition: all 0.5s ease-in;
}

.button {
  background: url('/assets/img//button_down.png') no-repeat;
  border: 0;
  width: 230px;
  height: 74px;
  text-align: center;
  transition: all 0.5s ease-in;
}

.button:hover {
  background: url('/assets/img//button_up.png') no-repeat;
  text-align: center;
  transition: all 0.5s ease-in;
}

#container_shop {
  transition: all 0.2s ease-in-out;
}

.hide {
  display: none;
}

.hidez {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
}

.shop {
  transition: all 0.2s ease-in;
}

#hit-message,
#broken-weapon-message {
  color: red;
  font-size: 20px;
}

#miss-message {
  color: firebrick;
  font-size: 20px;
}

#level-up-message,
#loot-message {
  color: maroon;
  font-size: 20px;
}

#death-screen {
  position: absolute;
  padding-left: 10px;
  transition: all 1s;
  min-height: 50vh;
}

@media screen and (max-width: 768px) {
  .shop {
    transition: all 0.2s ease-in;
  }
}
