<div class="enemy">
  <div class="enemy__info">
    <app-fighter-indicator
      name="Enemy name - Enemy Title"
      [level]="2"
      [health]="12"
      [healthCap]="14"
    />
    <div class="enemy__stats">
      <ul class="stats">
        <li>
          <strong>Armor</strong>
          <span class="stat">002</span>
        </li>
        <li>
          <strong>Damage</strong>
          <span class="stat">004</span>
        </li>
        <li>
          <strong>Some other stat</strong>
          <span class="stat">123</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="enemy__image">
    <app-enemy-image
      idlePath="/img/enemy-1.png"
      hitPath="/img/enemy-1-blood.png"
      width="250"
      height="350"
      alt="Enemy name"
    />
  </div>
</div>

<div class="player">
  <div class="player__info">
    <app-fighter-indicator
      name="Player name"
      [level]="3"
      [health]="5"
      [healthCap]="21"
    />
  </div>
  <div class="player__image">
    <!-- <img src="https://placehold.co/300x200" atl="Player name"> -->
    <img
      src="/img/human.png"
      width="130"
      height="200"
      alt="Player name"
    >
  </div>
  <div class="player__actions">
    <button class="button --primary" (click)="attacked.emit()">Attack</button>
    <button class="button --outline" (click)="healed.emit()">Heal</button>
    <button class="button --outline" (click)="enchanted.emit()">Enchant</button>
    <button class="button --outline" (click)="usedScroll.emit()">Use Scroll</button>
  </div>
</div>
