body {
    
    background: url("../img/background.jpg") fixed no-repeat;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#introduction {
    transition: all 0.5s ease-in;
   
}



#game-screen {
    
}

.imgHero {
    max-height: 450px;
    float:right;
}
.imgEnemy {
    max-height: 450px;
    float:left;
}
.button {
    background: url("../img/button_down.png") no-repeat;
    border:0;
    width:230px;
    height:74px;
    text-align: center;
    transition: all 0.5s ease-in;
}
.button:hover {
    background: url("../img/button_up.png") no-repeat;
    text-align: center;
    transition: all 0.5s ease-in;
}

#player {
  
}

#enemy {
   
}

#container_shop {
    transition: all 0.2s ease-in-out;
}


.hide {
    display:none;
}

.hidez {
    display: none;
    visibility: hidden;
}

.show {
    display:block;
}

#shop {
    
}

.shop {
   
    transition: all 0.2s ease-in;
}

.battle p {
    margin: 2px 2px 2px 2px;
    font-size:small;
}

#hit-message, #broken-weapon-message {
    color: red;
    font-size:12px;
}

#miss-message {
    color: firebrick;
    font-size: 12px;
}
    


#level-up-message, #loot-message {
    color: maroon;
    font-size: 14px;
}
    


.bought {

}

#death-screen {
    position: absolute;
    padding-left: 10px;
    transition: all 1s;
    min-height: 50vh;
}

@media screen and (max-width: 760px) {
    .shop button {
        
    }

    #game-screen {
        max-width: 760px
    }

  

    .shop {
        max-width: 760px
        transition: all 0.2s ease-in;
    }

   

   
}